<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>App in node.js</title>
</head>
<body>
    <nav class="nav navbar bg-dark">
        <div class="container">
                <ul class=" ml-0 pl-0">
                    <a href="/crud" class="text-white">Products</a>
                    <a href="/" class="text-white ml-3">Blog</a>
                </ul>
        </div>
    </nav>
</script>
</html>
