<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>App in node.js</title>
</head>
<body>
    <nav class="nav navbar bg-dark">
        <div class="container">
                <Strong class="text-info">Admin</Strong>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="form col-6">
            
                {{#if messages.success }}
                        <div class="alert alert-success"> {{ success }} </div>
                {{/if}}
         
            <form action="post" method="post" enctype="multipart/form-data">
                <strong>Post a Article</strong>
                <hr>
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="img">Image</label>
                    <input type="file" name="img" id="img" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Post" class="btn btn-sm btn-success">
                </div>
            </form>
        </div>
    </div>
</script>
</html>
