{{>header}}
<div class="container mt-3">
    <div class="jumbotron text-center" id="bg-slider">
       <strong class="text-white border-bottom">WELCOME ON MY BLOG</strong>
    </div>

    <div class="content-article">
        <strong class="text-info">Recent articles</strong>
        <hr>
        <a href="/" class="btn btn-sm btn-success">Return</a>
        <hr>
        <div class="row justify-content-between">
            {{#each result}}
            <div class="col-lg-8">
                <div class="p-1">
                    <div class="bg-light">
                        <img src="/static/uploads/{{ image }}" alt="" height="100%" width="100%">
                        <div class="p-2">
                            <a href="/posts/{{id}}" class="">
                                <p class="text-info"> {{title}} </p>
                            </a>
                            <div>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod tenetur esse beatae.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<footer class="mt-5"></footer>
